<div class="container d-block justify-content-center mt-5">
    <div>
        <p>Introduce tu nombre: <input type="text" [(ngModel)]="nombre" ></p>
        <p>Introduce tu cif: <input type="text" [(ngModel)]="cif"></p>
        <p>Introduce tu direccion: <input type="text" [(ngModel)]="direccion"></p>
        <p>Introduce tu grupo: 
            <select [(ngModel)]="grupo">
                Sin definir
                <option value="1">1</option>
                <option value="2" selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </p>
        <button (click)="addCliente()">Guardar</button>
    </div>
    <!-- {{ clientes | json}} -->
    <app-clientes [data]="clientes"></app-clientes>
</div>
